a:hover {
  color: hotpink;
   background-color: #f44336;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a:link,a:visited
{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
#h1
{
    color: black;
    font-size:50px;
    font-weight:bolder;
    text-align:center;
    
}
div
{
    text-align:center;
}
.add
{
    width:400px;
    -o-transition-duration:0.4s;
    -moz-transition-duration:0.4s;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
    font-size: 22px;
     padding: 14px 40px;
 border-radius: 12px;
 border: 2px solid black;
}
.add:hover
{
    width:400px;
 background-color: greenyellow;
 color: black;  
 font-size: 24px;
 padding: 14px 40px;
 border-radius: 12px;
 border: 2px solid black;
}
.rem
{
    width:400px;
     -o-transition-duration:0.4s;
     -moz-transition-duration:0.4s;
     -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      font-size: 22px;
      padding: 14px ;
    border-radius: 12px;
    border: 2px solid black;
 
}
.rem:hover
{
    width:400px;
    background-color: red;
    color: black;
    font-size: 24px;
    padding: 14px ;
    border-radius: 12px;
    border: 2px solid black;
}
#back
{
     -o-transition-duration:0.4s;
     -moz-transition-duration:0.4s;
     -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    
    color:black;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 14px 40px;
}
#back:hover
{
    background-color: darkslategrey;
    color:black;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 14px 40px;
}
body
{
    background-image: url('editbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}